.brand_link:hover ~ .brand_logotype,
.brand_link:focus ~ .brand_logotype
{
    color: var(--pink);
}

.menu_link.is_current .feather
{
    display: none;
}

.menu_link.is_current,
.header_link.is_current
{
    color: var(--pink);
    font-style: italic;
}

.menu_link:hover,
.menu_link:focus-within,
.header_link:hover,
.header_link:focus-within
{
    text-decoration: underline;
}

.menu_link:hover .feather,
.menu_link:focus-within .feather
{
    transform: translateX(1rem);
}

#menuButton
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menuButton:before
{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: -1;
    border-radius: 100%;
    background-color: var(--light-purple);
    transform: scale(0);
    transition: 150ms transform;
}

#menuButton.pressed:before,
#menuButton:active:before
{
    transform: scale(1);
}

#menu
{
    display: none;
}

#menu.is_open
{
    display: block;
}

.menu_inner.is_showing
{
    transform: translateX(100%);
}

.menu_background.is_showing
{
    opacity: 1;
}

#header .header_nav
{
    display: none;
}

@media (min-width: 600px)
{
    #menu,
    #menuButton
    {
        display: none !important;
    }

    #header .header_nav
    {
        display: inline-flex;
    }

}
